@font-face {
  font-family: "bold";
  src: local("Ubuntu-Bold"),
    url("C:\Users\meita\OneDrive\שולחן העבודה\react shecodes\toDoApp\to-do-app\src\fonts\Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "light"; 
  src: local("Ubuntu-Light"),
    url("C:\Users\meita\OneDrive\שולחן העבודה\react shecodes\toDoApp\to-do-app\src\fonts\Ubuntu-Light.ttf") format("truetype");
}

.App {
  text-align: center;
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png");
  /* background-position: 100%; */
  background-repeat: no-repeat;
  background-size:cover;
  float: left;
  height: fit-content;
  /* size: 100%; */
  
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "bold";
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
